<div class="user-register-card">
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <h1>Register new user</h1>
    </div>
  </div>
  <app-user-register></app-user-register>
</div>
<div class="user-login-card">
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <h1>Login here</h1>
    </div>
  </div>
  <app-user-login></app-user-login>
  <br><br>
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <a routerLink="/new-company/"
          class="btn btn-primary">
          Browse as guest
      </a>
    </div>
  </div>
</div>
