<div class="container page-spacing">
  <p>
    {{ response }}
  </p>

  <p>Click on this button below to launch a blank company form.</p>
  <button type='button'
          class='btn btn-primary'
          (click)='emptyForm()'>
          New Company
  </button>

  <div *ngIf="displayForm">

    <form class="form-horizontal"
          [formGroup]="newCompanyForm"
          (ngSubmit)="addCompany()">

          <div class="form-group">
            <div class="row">
              <div class="col-sm-3 label-alignment">
                <label for="name"
                        class="control-label">
                        Name
                </label>
              </div>

              <div class="col-sm-5">
                <input type="text"
                        class="form-control"
                        id="name"
                        formControlName="name">
              </div>
            </div>
          </div>

          <div class="form-group">
            <div class="row">
              <div class="col-sm-3 label-alignment">
                <label for="headquarters"
                        class="control-label">
                        Headquarters
                </label>
              </div>

              <div class="col-sm-5">
                <input type="text"
                        class="form-control"
                        id="headquarters"
                        formControlName="headquarters">
              </div>
            </div>
          </div>

          <div class="form-group">
            <div class="row">
              <div class="col-sm-3 label-alignment">
                <label for="address"
                        class="control-label">
                        Address
                </label>
              </div>

              <div class="col-sm-5">
                <input type="text"
                        class="form-control"
                        id="address"
                        formControlName="address">
              </div>
            </div>
          </div>

          <div class="form-group">
            <div class="row">
              <div class="col-sm-3 label-alignment">
                <label for="company_website"
                        class="control-label">
                        Website
                </label>
              </div>

              <div class="col-sm-5">
                <input type="text"
                        class="form-control"
                        id="company_website"
                        formControlName="company_website">
              </div>
            </div>
          </div>

          <div class="form-group">
            <div class="row">
              <div class="col-sm-3 label-alignment">
                <label for="established_year"
                        class="control-label">
                        Established year
                </label>
              </div>

              <div class="col-sm-5">
                <input type="number"
                        class="form-control"
                        id="established_year"
                        formControlName="established_year">
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-offset-3">
              <button type="submit"
                      class="btn btn-primary">
                      Submit
              </button>
            </div>
          </div>

    </form>

  </div>
</div>
