/* You can add global styles to this file, and also import other style files */

.page-spacing {
  margin-top: 50px;
}

.label-alignment {
  text-align: right;
}

.text-align-right {
  text-align: right;
}

.left-space-6 {
  margin-left: 6px;
}

.show-pointer {
  cursor: pointer;
}

.show-pointer:hover {
  background-color: rgb(237, 237, 237);
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 5px;
}
